In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import dateutil

/Users/Tianqi/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
sns.set_style('whitegrid')
sns.set_color_codes('muted')

In [3]:
tips = sns.load_dataset('tips')

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
rows = tips.values.tolist()

In [7]:
rows[0]

[16.99, 1.01, 'Female', 'No', 'Sun', 'Dinner', 2]

In [9]:
gender = map(lambda x: x[2], rows)

In [17]:
gender[:3]

['Female', 'Male', 'Male']

In [13]:
# sum(map(lambda x: 1, filter(lambda x: x=='Male', gender)))
pairs = map(lambda x: (int(x=='Male'), int(x=='Female')), gender)

In [15]:
pairs[:3]

[(0, 1), (1, 0), (1, 0)]

In [16]:
reduce (lambda x,y: (x[0]+y[0], x[1]+y[1]), pairs)

(157, 87)

In [19]:
weekday = map(lambda x: x[4], rows)

In [20]:
weekday[:3]

['Sun', 'Sun', 'Sun']

In [29]:
days = map(lambda x: (int(x=='Sun'),int(x=='Mon'),int(x=='Tue'),int(x=='Wed'),int(x=='Thur'),int(x=='Fri'),int(x=='Sat')), weekday)

In [30]:
days[:3]

[(1, 0, 0, 0, 0, 0, 0), (1, 0, 0, 0, 0, 0, 0), (1, 0, 0, 0, 0, 0, 0)]

In [31]:
reduce (lambda x,y: (x[0]+y[0], x[1]+y[1], x[2]+y[2], x[3]+y[3], x[4]+y[4], x[5]+y[5], x[6]+y[6]), days)

(76, 0, 0, 0, 62, 19, 87)

## better way

In [40]:
def reducer(x, y):
    x[y] = x.get(y, 0)+1
    return x

counts = reduce(reducer, weekday,{})

In [36]:
counts

{'Fri': 19, 'Sat': 87, 'Sun': 76, 'Thur': 62}

## citibike

In [44]:
Y = None
def checkDate(x):
    global Y
    d = dateutil.parser.parse(x['starttime']).date()
    if d!= Y:
        Y=d
        return True
    return False

filename = 'citibike.csv'
with open(filename, 'r') as fi:
    reader = csv.DictReader(fi)
    
    values = filter(checkDate, reader)

In [47]:
reader

In [46]:
values

[{'bikeid': '17131',
  'birth_year': '1978',
  'cartodb_id': '1',
  'end_station_id': '423',
  'end_station_latitude': '40.76584941',
  'end_station_longitude': '-73.98690506',
  'end_station_name': 'W 54 St & 9 Ave',
  'gender': '2',
  'start_station_id': '521',
  'start_station_latitude': '40.75044999',
  'start_station_longitude': '-73.99481051',
  'start_station_name': '8 Ave & W 31 St',
  'starttime': '2015-02-01 00:00:00+00',
  'stoptime': '2015-02-01 00:14:00+00',
  'the_geom': '',
  'tripduration': '801',
  'usertype': 'Subscriber'},
 {'bikeid': '20684',
  'birth_year': '1992',
  'cartodb_id': '6442',
  'end_station_id': '489',
  'end_station_latitude': '40.75066386',
  'end_station_longitude': '-74.00176802',
  'end_station_name': '10 Ave & W 28 St',
  'gender': '1',
  'start_station_id': '442',
  'start_station_latitude': '40.746647',
  'start_station_longitude': '-73.993915',
  'start_station_name': 'W 27 St & 7 Ave',
  'starttime': '2015-02-02 00:02:00+00',
  'stoptime': '2015-02-02 00:05:00+00',
  'the_geom': '',
  'tripduration': '199',
  'usertype': 'Subscriber'},
 {'bikeid': '20328',
  'birth_year': '1982',
  'cartodb_id': '7901',
  'end_station_id': '2008',
  'end_station_latitude': '40.70569254',
  'end_station_longitude': '-74.01677685',
  'end_station_name': 'Little West St & 1 Pl',
  'gender': '1',
  'start_station_id': '387',
  'start_station_latitude': '40.71273266',
  'start_station_longitude': '-74.0046073',
  'start_station_name': 'Centre St & Chambers St',
  'starttime': '2015-02-03 00:00:00+00',
  'stoptime': '2015-02-03 00:12:00+00',
  'the_geom': '',
  'tripduration': '704',
  'usertype': 'Subscriber'},
 {'bikeid': '15253',
  'birth_year': '1969',
  'cartodb_id': '12655',
  'end_station_id': '438',
  'end_station_latitude': '40.72779126',
  'end_station_longitude': '-73.98564945',
  'end_station_name': 'St Marks Pl & 1 Ave',
  'gender': '1',
  'start_station_id': '237',
  'start_station_latitude': '40.73047309',
  'start_station_longitude': '-73.98672378',
  'start_station_name': 'E 11 St & 2 Ave',
  'starttime': '2015-02-04 00:00:00+00',
  'stoptime': '2015-02-04 00:02:00+00',
  'the_geom': '',
  'tripduration': '146',
  'usertype': 'Subscriber'},
 {'bikeid': '20290',
  'birth_year': '1971',
  'cartodb_id': '21628',
  'end_station_id': '461',
  'end_station_latitude': '40.73587678',
  'end_station_longitude': '-73.98205027',
  'end_station_name': 'E 20 St & 2 Ave',
  'gender': '1',
  'start_station_id': '497',
  'start_station_latitude': '40.73704984',
  'start_station_longitude': '-73.99009296',
  'start_station_name': 'E 17 St & Broadway',
  'starttime': '2015-02-05 00:00:00+00',
  'stoptime': '2015-02-05 00:17:00+00',
  'the_geom': '',
  'tripduration': '1034',
  'usertype': 'Subscriber'},
 {'bikeid': '19891',
  'birth_year': '1989',
  'cartodb_id': '30836',
  'end_station_id': '472',
  'end_station_latitude': '40.7457121',
  'end_station_longitude': '-73.98194829',
  'end_station_name': 'E 32 St & Park Ave',
  'gender': '1',
  'start_station_id': '491',
  'start_station_latitude': '40.74096374',
  'start_station_longitude': '-73.98602213',
  'start_station_name': 'E 24 St & Park Ave S',
  'starttime': '2015-02-06 00:01:00+00',
  'stoptime': '2015-02-06 00:05:00+00',
  'the_geom': '',
  'tripduration': '212',
  'usertype': 'Subscriber'},
 {'bikeid': '19071',
  'birth_year': '1963',
  'cartodb_id': '39412',
  'end_station_id': '489',
  'end_station_latitude': '40.75066386',
  'end_station_longitude': '-74.00176802',
  'end_station_name': '10 Ave & W 28 St',
  'gender': '1',
  'start_station_id': '116',
  'start_station_latitude': '40.74177603',
  'start_station_longitude': '-74.00149746',
  'start_station_name': 'W 17 St & 8 Ave',
  'starttime': '2015-02-07 00:00:00+00',
  'stoptime': '2015-02-07 00:07:00+00',
  'the_geom': '',
  'tripduration': '424',
  'usertype': 'Subscriber'}]

In [55]:
import multiprocessing as mp
import shapely.geometry as geom
import pyproj
from timeit import default_timer


def projection(row):
    proj = pyproj.Proj(init='epsg:2263', preserve_units=True)
    return geom.Point(proj(float(row['start_station_longitude']),
                float(row['start_station_latitude'])))

pool = mp.Pool(processes=2)

filename = 'citibike.csv'
with open(filename, 'r') as fi:
    reader = csv.DictReader(fi)
    
    start = default_timer()
    coords = pool.map(projection, reader)
    end = default_timer()
    print 'Time', end-start

Time 2.65909790993

In [ ]:
def first_ride(reader):
    global Y
    time = dateutil.parser.parse(x['starttime']).date()
    for time.
    if d!= Y:
        Y=d
        return True
    return False
    yield reader.next()
##########################